<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>MC-DRA</title>
    <meta name="description" content="maintained by dxtron">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        MC-DRA v0.0.1
      </h1>
      <p>maintained by dxtron</p>
    </header>

    <main>
      <p>Input resources that have been taken in</p>
      <form>
        <input type="text" maxlength="100" placeholder="resource">
        <input type="number" placeholder="amount">
        <input type="text" placeholder="by whom">
        <button type="submit">Submit</button>
      </form>
      <section class="intakes">
        <ul id="intakes">
        </ul>
      </section>
    </main>

    <main>
      <p>Input resources that are REQUIRED</p>
      <form>
        <input type="text" maxlength="100" placeholder="resource">
        <input type="number" placeholder="amount">
        <input type="text" placeholder="for whom">
        <button type="submit">Submit</button>
      </form>
      <section class="needs">
        <ul id="needs">
        </ul>
      </section>
    </main>


    <main>
      <p>Input resources that are wanted</p>
      <form>
        <input type="text" maxlength="100" placeholder="resource">
        <input type="number" placeholder="amount">
        <input type="text" placeholder="for whom">
        <button type="submit">Submit</button>
      </form>
      <section class="wants">
        <ul id="wants">
        </ul>
      </section>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>

  </body>
</html>
