/* Reset box model for all elements */
* {
  box-sizing: border-box;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header styles */
header {
  background-color: #aaaaaa;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}

/* Main content styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

/* Section styles */
section {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
  color: #333;
  padding: 10px;
  margin: 0;
}

/* Form styles */
form {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey; /* Ensure consistency with other inputs */
  border-radius: 3px;
}

/* Button styles */
button {
  background-color: #a0a0a0;
  color: rgb(0, 0, 0);
  padding: 2px 4px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(186, 243, 175);
}

button:active {
  box-shadow: none;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
.summary-table {
  padding: 10px;
}
/* Transaction window styles */
.txn-window {
  padding: 10px;
  overflow: auto;
  max-height: 500px;
}

/* Commit button styles */
.refresh-button {
  background-color: #4CAF50;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.commit-button:hover {
  background-color: #45a049;
}

/* Delete button styles */
.delete-button {
  background-color: #fdb8b8;
  color: #000;
  padding: 2px 4px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #ff8585;
}
